[Unit]
Description=Run decryption at login

[Service]
Type=oneshot
ExecStart=/home/<user>/Encryption/doc_crypt.sh decrypt
Restart=no

[Install]
WantedBy=default.target